body, ul, li, h1 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 150px;
  background-color: #384874;
}

.menu {
  position: sticky;
  top: 0;
  /* left: 0;
  right: 0; */
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 15px;
  background-color: #be7c7c;
}

.menu li {
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
}

.menu li:last-child {
  margin-right: 0;
}

.content {
  /* padding-top: 80px; */
  height: 200vh;
}