.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
}

.item1 {
  /* align-self: center;
  justify-self: center; */
}

.grid-item {
  width: 50px;
  aspect-ratio: 1;  
}

/* Оформление */
.grid-container {
  border: 2px solid red;
  text-align: center;
}

.grid-container .grid-item:nth-child(odd) {
  background-color: #555;
  font-size: 25px;
  padding-block: 10px;
}

.grid-container .grid-item:nth-child(even) {
  background-color: #999;
  font-size: 25px;
  padding-block: 10px;
}